.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.option-red {
  color: red;
}

.option-green {
  color: green;
}

.option-blue {
  color: blue;
}
